# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt project file
*.pro.user

# Python bytecode
*.pyc
*.pyo
*.pyd

# En tiiä mikä tää on mut haluun sen pois
*.DS_Store
